# Contributors map — semua history disatukan ke iskan (Nendi Iskandar)
iskan <iskan@nendi.web.id> jipraks <ajiprakoso1995@gmail.com>
iskan <iskan@nendi.web.id> Aji Prakoso <ajiprakoso1995@gmail.com>
iskan <iskan@nendi.web.id> arihidayatm <muhamadarihidayat@gmail.com>
iskan <iskan@nendi.web.id> root <root@clipper.enjangkurniawan>
iskan <iskan@nendi.web.id> iskan <Nendi.iskandar@gmail.com>
iskan <iskan@nendi.web.id> nenndiskandar <nenndiskandar@users.noreply.github.com>
iskan <iskan@nendi.web.id> Nendi iskandar <68362298+nenndiskandar@users.noreply.github.com>
iskan <iskan@nendi.web.id> <ajiprakoso1995@gmail.com>
iskan <iskan@nendi.web.id> <muhamadarihidayat@gmail.com>
iskan <iskan@nendi.web.id> <Nendi.iskandar@gmail.com>
iskan <iskan@nendi.web.id> <nenndiskandar@users.noreply.github.com>
iskan <iskan@nendi.web.id> <68362298+nenndiskandar@users.noreply.github.com>
iskan <iskan@nendi.web.id> <root@clipper.enjangkurniawan>
